.ck.ck-content .ckeditor-readmore {
  border: 1px dashed #888;
  position: relative;
  padding: 0 10px;
}

.ck.ck-content .ckeditor-readmore::before {
  position: absolute;
  font-size: 0.5em;
  content: "[ Read More ]";
  display: block;
  background: white;
  top: -1em;
  right: 2em;
}